<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Carbon Accounting" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100">
    <header class="bg-white shadow">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16">
          <div class="flex">
            <div class="flex-shrink-0 flex items-center">
              <img class="h-8 w-auto" src="<%= image_path('icon.svg') %>" alt="Logo">
            </div>
          </div>
          <div class="flex items-center">
            <div class="flex space-x-4">
              <%= link_to "FR", url_for(locale: :fr), class: "text-gray-700 hover:text-gray-900 #{I18n.locale == :fr ? 'font-bold' : ''}" %>
              <%= link_to "EN", url_for(locale: :en), class: "text-gray-700 hover:text-gray-900 #{I18n.locale == :en ? 'font-bold' : ''}" %>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="container mx-auto mt-28 px-5 flex">
      <% if notice %>
        <div class="fixed top-20 right-4 z-50" data-controller="flash">
          <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
            <span class="block sm:inline"><%= notice %></span>
            <span class="absolute top-0 bottom-0 right-0 px-4 py-3" data-action="click->flash#close">
              <svg class="fill-current h-6 w-6 text-green-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <title>Close</title>
                <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/>
              </svg>
            </span>
          </div>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
